<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" mdbCollapse>
            <div class="navbar-nav">
                <button class="nav-link active" (click)="irParaHome()">Home</button>
                <button class="nav-link" (click)="irParaPedidos()">Pedidos</button>
                <button class="nav-link" (click)="irParaPerfil()">Perfil</button>
                <button class="nav-link" (click)="sair()">Sair</button>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-md-6">
        <div class="configdiv">
            Pedido Realizado com Sucesso!
        </div>
    </div>
</div>
