<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" mdbCollapse>
            <div class="navbar-nav">
                <button class="nav-link active" (click)="cancelar()">Home</button>
            </div>
        </div>
    </div>
</nav>

<div class="centralize" s>
    <div class="card p-3 cadastro" style="margin-top: 4rem; width: 45%;">

        <form [formGroup]="formCliente" style="margin: 2%;">
            <div class="centralize">
                <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/281/7992637281_1964ede0-475c-48b8-ad63-676c3cf449ea.png?cb=1671026677" alt="" height="40">
            </div>
            <div style="margin-top: 1.5rem;">
                <div class="centralize">
                    <div class="form-group" style="width: 80%;">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" name="nome" id="cliente.nome" formControlName="nome" required>
                    </div>
        
                    <div class="form-group" style="margin-left: 1rem; width: 80%;">
                        <label for="nome">Email</label>
                        <input type="text" class="form-control" name="email" id="email" formControlName="email" required>
                    </div>
                </div>
                <div class="centralize">
                    <div class="form-group" style="width: 80%;">
                        <label for="nome">CPF</label>
                        <input type="text" class="form-control" name="cpf" id="cpf" formControlName="cpf" required>
                    </div>
        
                    <div class="form-group" style="margin-left: 1rem; width: 80%;">
                        <label for="nome">Telefone</label>
                        <input type="text" class="form-control" name="telefone" id="telefone" formControlName="telefone"
                            required>
                    </div>
                </div>

                <div class="centralize">
                    <div class="form-group" style="width: 100%;">
                        <label for="nome">Logradouro</label>
                        <input type="text" class="form-control" name="logradouro" id="logradouro" formControlName="logradouro"
                            required>
                    </div>
        
                    <div class="form-group" style="width: 40%;margin-left: 1rem;">
                        <label for="nome">Número</label>
                        <input type="text" class="form-control" name="numero" id="numero" formControlName="numero" required>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="nome">Bairro</label>
                    <input type="text" class="form-control" name="bairro" id="bairro" formControlName="bairro" required>
                </div>
    
                <div class="centralize">


                    <div class="form-group" style="width: 100%;">
                        <label for="nome">Complemento</label>
                        <input type="text" class="form-control" name="complemento" id="complemento"
                            formControlName="complemento" required>
                    </div>

                    <div class="form-group" style="width: 40%;margin-left: 1rem;">
                        <label for="nome">CEP</label>
                        <input type="text" class="form-control" name="cep" id="cep" formControlName="cep" required>
                    </div>
                </div>

                <div class="centralize">

        
                    <div class="form-group" style="width: 100%;">
                        <label for="nome">Cidade</label>
                        <input type="text" class="form-control" name="cidade" id="cidade" formControlName="cidade" required>
                    </div>
        
                    <div class="form-group" style="width: 40%; margin-left: 1rem;">
                        <label for="nome">Estado</label>
                        <input type="text" class="form-control" name="estado" id="estado" formControlName="estado" required>
                    </div>
                </div>
    


            </div>

            
            <div class="centralize" style="margin-top: 1rem;">
                <button class="btn btn-success" type="submit" (click)="cancelar()" >Cancelar</button>
                <button class="btn btn-success" type="submit" (click)="cadastrar()"style="margin-left: 2rem;">Cadastrar</button>

            </div>
        </form>

    </div>
</div>
